<!DOCTYPE html>
<html>
<head>
	<title>Showing specific product</title>
</head>
<body>
    <h1>Product name: <%= product.name %> </h1>
    <h4>Product price: <%= product.price %> </h4>
    <h4>Product quantity: <%= product.quantity %> </h4>
    <h4>Product location: <%= product.location %> </h4>

    <a href="/index"><button> Index page </button></a>
    <a href="/<%= product.id %>/edit"><button> Edit the product </button></a>
    <form action="/<%= product.id %>?_method=DELETE" method="POST">
    <button> Delete this product </button>
    </form>

</body>
  
    
</html>